.chatlist {
    border: none;
    padding: 20px;
    height: 400px;
    width: 100%;
    border-radius: 10px;
    margin: 40px auto 0;
    background-color: #2f3640;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chatlist > div {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
}

.textInput {
    border: solid 1px #ddd;
    padding: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 16px;
    border-radius: 10px;
    margin: 10px;
}

.chatItem {
    font-size: 18px;
    color: #333;
    border-radius: 8px;
    background: #fff;
    padding: 12px 18px;
    border: 0.5px solid rgba(0, 0, 0, 0.02);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
    max-width: 70%;
    display: inline-block;
    text-align: left;
    margin-bottom: 6px;
    margin-right: auto;
}

.chatItem.right {
    margin-right: 0;
    margin-left: auto;
    background-color: #00a8ff;
    color: #fff;
}
